@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Basics */
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    font-family: Roboto;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* General styles */
/** Colors */
:root {
    --white: #fff;
    --grey: #949494;
    --blue700: #36384D;
    --blue800: #242742;
    --red: #FF6155;
    --gradient0: #FF6A3A;
    --gradient1: #FF527B;
}

/** Typographies */
.tp1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp1--mobile {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
}

.tp2--bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
}

.tp3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
}

/* Shared components */

.blueButton {
    all: unset;

    /* This is tp2--bold */
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;

    border-radius: 8px;
    background-color: var(--blue800);
    color: var(--white);
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    cursor: pointer;
}

.blueButton--disabled {
    opacity: 0.6;
    cursor: default;
}