@import 'global.css';

.container {
    height: 100vh;
    width: 100vw;
}

/* Image */
.imgClass {
    content: url('/assets/images/illustration-sign-up-mobile.svg');
    width: 100vw;
}

.content {
    padding: 40px 24px;
}

/* Title and subtitle */
.content__info__title {
    color: var(--blue800);
    margin-bottom: 24px;
}

.content__info__text {
    color: var(--blue800);
    margin-bottom: 24px;
}

/* List */
.content__info__list {
    color: var(--blue800);
}

.content__info__list__item {
    display: flex;
    align-items: start;
    gap: 16px;
    
    margin-bottom: 8px;
}

/* Form */

.content__form {
    border: solid red 2px;
    margin-top: 40px;
}

.content__form__topSection {
    border: solid blue 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;
}

.content__form__topSection__error {
    color: var(--red);
}