@import url('styleTablet.css');

@media (min-width: 1000px) {

    /* Container 1 */
    .container {
        box-sizing: border-box;
        width: fit-content;

        padding: 24px 32px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .imgClass {
        content: url('assets/images/illustration-sign-up-desktop.svg');
        height: 593px;
        width: unset;
    }

    .content {
        padding-right: 64px;
        width: 375px;
    }

    .blueButton:active, 
    .blueButton:focus {
        background: linear-gradient(90deg, var(--gradient0), var(--gradient1));
    }

}