@import 'global.css';


/* FIRST COMPONENT */
.container {
    /*****
    display: none;*/

    /*min-height: 100vh;*/
    width: 100vw;

    background-color: var(--white);
}

/* Image */
.imgClass {
    content: url('assets/images/illustration-sign-up-mobile.svg');
    width: 100vw;
}

.content {
    padding: 40px 24px;
}

/* Title and subtitle */
.content__info__title {
    color: var(--blue800);
    margin-bottom: 24px;
}

.content__info__text {
    color: var(--blue800);
    margin-bottom: 24px;
}

/* List */
.content__info__list {
    color: var(--blue800);
}

.content__info__list__item {
    display: flex;
    align-items: start;
    gap: 16px;
    
    margin-bottom: 8px;
}

/* Form */

.content__form {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
}

.content__form__topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: --var(--blue800);

    margin-bottom: 8px;
}

.content__form__topSection__error {
    color: var(--red);

    /* Initially hidden */
    visibility: hidden;
}

.content__form__input {
    all: unset;

    border: solid var(--grey) 1px;
    padding: 16px 24px;
    border-radius: 8px;

    margin-bottom: 24px;
}

.content__form__input--errorState {
    border-color: var(--red);
    color: var(--red);
    background-color: #FFE7E6;
}

/* SECOND COMPONENT */
.container2 {
    height: 100vh;
    box-sizing: border-box;
    padding: 17.5vh 24px 70px 24px;

    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /******/
    display: none;
}

.container2__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 32px;
}

.container2__content__image {
    width: 64px;
    height: 64px;
}

.container2__content__title {
    color: var(--blue800);
}

.container2__content__text {
    color: var(--blue800);
}
