@import url('styleMobile.css');

@media (min-width: 630px) {

    body {
        background-color: var(--blue700);
    }
    
    /* Container 1 */
    .container {
        padding: 42px 40px;
        margin: 73px 80px;
        border-radius: 36px;

        box-shadow: 0px 15px 60px #212330;
        transition: box-shadow 0.5s, transform 0.5s;
    }

    .container:hover {
        box-shadow: 0px 15px 80px #171922;
        transform: scale(1.005);
    }

    .imgClass {
        content: url('assets/images/illustration-sign-up-tablet.svg');
        width: 100%;
    }

    .content {
        padding-bottom: 0px;
    }

    .content__info__title {
        font-size: 56px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
    }

    .content__form {
        margin-top: 24px;
    }

    .content__form__input {
        margin-bottom: 16px;
    }

    /* Container 2 */
    .container2 {
        padding: 60px 64px;
        margin: 73px 80px;
        border-radius: 36px;

        box-shadow: 0px 15px 60px #212330;

        justify-content: start;
        height: fit-content;
        max-width: 504px;
    }

    .container2__content__title {
        font-size: 56px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
    }

}