@import url('styleMobile.css');

@media (min-width: 630px) {
    body {
        background-color: var(--blue700);
    }

    /* Container 1 */
    .container {
        padding: 42px 40px;
        margin: 73px 80px;
        border-radius: 36px;
    }

    .imgClass {
        content: url('/assets/images/illustration-sign-up-tablet.svg');
        width: 100%;
    }

    .content {
        padding-bottom: 0px;
    }

    .content__form {
        margin-top: 24px;
    }

    .content__form__input {
        margin-bottom: 16px;
    }

    /* Container 2 */
    .container2 {
        padding: 60px 64px;
        margin: 73px 80px;
        border-radius: 36px;

        justify-content: start;
        height: fit-content;
    }

}